{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="../static/css/iframe.css">

    <div class="col-md-6 offset-md-3" oncontextmenu="return false">
        <a href="{% url 'thesis_list' %}" class="btn btn-danger">Back</a>
        <h1>Thesis View</h1>
        <p>{{ thesis.title }}</p>
        <small>by: {{ thesis.author }} </small>
        <br>
        {% if user.id == thesis.author.id %}
        <a href="{% url 'thesis_update' thesis.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'thesis_delete' thesis.pk %}" class="btn btn-danger">Delete</a>
        {% endif %}
        <hr>
        <div class="wrapper">
            <embed src="{% get_media_prefix %}{{ thesis.pdf_file}} #view=FitH&toolbar=0&navpanes=0" type="application/pdf" id="thesis_box" style="width: 100%;min-height: 500px;border: none;"></embed>
            <div class="embed-cover"></div>
        </div>
    </div>
{% endblock %}